<?xml version="1.0"?>
<config>
    <modules>
        <Cti_Configurator>
            <version>0.15.0</version>
        </Cti_Configurator>
    </modules>
    <global>
        <helpers>
            <cti_configurator>
                <class>Cti_Configurator_Helper</class>
            </cti_configurator>
        </helpers>
        <configurator_processors>
            <components>
                <website>cti_configurator/components_website</website>
                <config>cti_configurator/components_config</config>
                <attributes>cti_configurator/components_attributes</attributes>
                <attributeSets>cti_configurator/components_attributeSets</attributeSets>
                <products>cti_configurator/components_products</products>
                <categories>cti_configurator/components_categories</categories>
                <relatedProducts>cti_configurator/components_relatedProducts</relatedProducts>
                <tax>cti_configurator/components_tax</tax>
                <customerGroups>cti_configurator/components_customerGroups</customerGroups>
                <media>cti_configurator/components_media</media>
                <pages>cti_configurator/components_pages</pages>
                <staticBlocks>cti_configurator/components_staticBlocks</staticBlocks>
                <users>cti_configurator/components_users</users>
                <sql>cti_configurator/components_sql</sql>
            </components>
        </configurator_processors>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Cti_Configurator/>
            </modules>
        </suite>
    </phpunit>
</config>